.image1{
    height: 80px;
    width: 100px;
    margin-top:100px;
}
.image2{
    height: 100px;
    width: 100px;
  
} 

.tdFlag{
    width: 10%;
    margin: 0em;
}
.move2{
    margin-left: 200px;
}

/*<table>
            <tr>
              <td className="tdFlag">
                <em><strong>LasVegas
                  <img className="image1" src="LasVegas.png" />
                </strong></em>
                <p>Shot Taken</p>
                <p>Score</p>
                <button >SHOOT1</button>

              </td>
              <td className="tdFlag">
                <em><strong>Hornets
                  <td><img className="image2" src="Hornets.png" /></td>
                </strong></em>
                <p>Shot Taken:</p>
                <p>Score </p>
                <p> <button >SHOOT2</button>
                </p>
              </td>
            </tr>
          </table>
        </div >
      )

    }
*/